<template>
  <div class="home-view-container">
    <h1>Adopt a new best friend.</h1>
    <p>{{ animalsCount }} pets are waiting for their forever homes</p>
    <p>{{ getOldPets }} of these pets are over 10 years old</p>
    <hr/>
    <button @click="togglePetForm" class="btn btn-primary">Add New Pet</button>
    <b-container fluid style="margin-top:20px;width:65%">
      <b-form @submit.prevent="handleSubmit" v-if="showPetForm">
        <b-form-group id="input-group-1" label="Species:" label-for="input-1" label-cols-sm="3" label-cols-lg="4">
          <b-form-select id="input-1" v-model="formData.species" :options="['cats', 'dogs']" required></b-form-select>
        </b-form-group>
        <b-form-group id="input-group-2" label="Name:" label-for="input-2" label-cols-sm="3" label-cols-lg="4">
          <b-form-input id="input-2" v-model="formData.name" required placeholder="Enter name"></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-3" label="Breed:" label-for="input-3" label-cols-sm="3" label-cols-lg="4">
          <b-form-input id="input-3" v-model="formData.breed" required placeholder="Enter breed"></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-4" label="Gender:" label-for="input-4" label-cols-sm="3" label-cols-lg="4">
          <b-form-select id="input-4" v-model="formData.gender" :options="['male', 'female', 'other']" required></b-form-select>
        </b-form-group>
        <b-form-group id="input-group-5" label="Age:" label-for="input-5" label-cols-sm="3" label-cols-lg="4">
          <b-form-input id="input-5" v-model="formData.age" required type="number"></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-6" label="Color:" label-for="input-6" label-cols-sm="3" label-cols-lg="4">
          <b-form-input id="input-6" v-model="formData.color" required placeholder="Enter color"></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-7" label="Weight:" label-for="input-7" label-cols-sm="3" label-cols-lg="4">
          <b-form-input id="input-7" v-model="formData.weight" required type="number"></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-8" label="Location:" label-for="input-8" label-cols-sm="3" label-cols-lg="4">
          <b-form-input id="input-7" v-model="formData.location" required placeholder="Enter location"></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-9" label="Notes:" label-for="input-9" label-cols-sm="3" label-cols-lg="4">
          <b-form-input id="input-8" v-model="formData.notes" required placeholder="Enter notes"></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'Home',
  data () {
    return {
      showPetForm: false,
      formData: {
        name: '',
        breed: '',
        gender: '',
        age: 0,
        color: '',
        weight: 0,
        location: '',
        notes: '',
        species: null
      }
    }
  },
  computed: {
    ...mapGetters([
      'animalsCount',
      'getOldPets'
    ])
  },
  methods: {
    ...mapActions([
      'addPet'
    ]),
    togglePetForm () {
      this.showPetForm = !this.showPetForm
    },
    handleSubmit () {
      const { species, name, breed, gender, age, color, weight, location, notes } = this.formData
      const payload = {
        species,
        pet: {
          name,
          breed,
          gender,
          age,
          color,
          weight,
          location,
          notes
        }
      }
      this.addPet(payload)
      // reset form after submit
      this.formData = {
        name: '',
        breed: '',
        gender: '',
        age: 0,
        color: '',
        weight: 0,
        location: '',
        notes: '',
        species: null
      }
    }
  }
}
</script>
